@charset "utf-8";
/* CSS Document */
/*--登录弹窗样式--*/
#loginbox{
	width:533px;
	height:auto;
	margin-top:10px;
	background-color:#fff;
}
#login_left{ width:200px; height:330px;float:left;text-align:center;; margin-bottom:10px;}
#login_left h4{ height:40px; line-height:40px;}
#login_left img{width:150px;margin:0 auto;display:block;border:1px solid #E3E3E3;padding:4px;}
#login_left p{height:50px; line-height:50px; color:#666; font-size:15px;}

/*#login_right{ width:293px; height:330px;float:left;text-align:center;padding:0px 20px;  margin-bottom:10px;}*/
#login_right{ width:293px; height:330px;margin:10px auto;text-align:center;padding:0px 20px;}
#login_right ul li{ width:140px; float:left; position:relative;}
#login_right ul li h5{ height:30px; text-align:center;line-height:30px;font-weight:normal;}
.h5_default{border-bottom:2px #CCCCCC solid;}
.h5_current{ border-bottom:2px #09F solid;}
.loginbox_1{ width:280px; height:225px; text-align:center; position:absolute; top:30px; left:0; display:none}
.loginbox_1 p{ margin-top:20px;}
.loginUser,.loginPwd{width:278px; height:40px;line-height:40px; border:1px #CCCCCC solid; text-indent:35px; border-radius:5px;}
.loginUser{background:url(../images/login_user.jpg) 0px 2px no-repeat;}
.loginPwd{background:url(../images/login_pwd.jpg) 0px 2px no-repeat;}
.loginUser:focus{background:url(../images/login_user2.jpg) 0px 2px no-repeat;border-color: #019A0D;box-shadow: 0 0 0px #019A0D;}
.loginPwd:focus{background:url(../images/login_pwd2.jpg) 0px 2px no-repeat;border-color: #019A0D;box-shadow: 0 0 0px #019A0D;}
.loginBtn input{ width:280px; height:45px; line-height:45px;  background:#2087ED; border-radius:5px; color:#FFF;font-size:18px; font-weight:bold; border:none;filter:alpha(opacity:80); opacity:0.8;  -moz-opacity:0.8;-khtml-opacity: 0.8;}
.loginBtn input:hover{filter:alpha(opacity:100); opacity:1;  -moz-opacity:1;-khtml-opacity: 1; cursor:pointer;}
.loginOther{ clear:both;font-size:12px;text-align:left;color:#999;}
.loginOther input{ position:relative; top:2px;}
.loginOther a{ color:#999; padding:0px 10px;}
.loginOther a:hover{ text-decoration:underline; color:#F00;cursor:pointer;}
.loginOther span{ float:right;}
.loginOther span a{ color:#F00;}
.loginOther span:hover a{ color:#09F; cursor:pointer;}
.thirdParty{ font-size:13px; text-align:left;color:#666;}
.thirdParty span{float:left; padding-right:10px; margin-top:5px;}
.thirdParty a{ width: 28px;height: 28px; float:left;display: inline-block;margin-right: 10px;	 
	transition:all 0.5s ease-in-out;/*过渡的触发机制，慢动作*/
	-ms-transition:all 0.5s ease-in-out;/*兼容IE9浏览器*/
	-webkit-transition:all 0.5s ease-in-out;/*兼容谷歌浏览器*/
	-o-transition:all 0.5s ease-in-out;/*兼容opera浏览器*/
	-moz-transition:all 0.5s ease-in-out;/*兼容火狐浏览器*/
}
.login_payment_qq { background:url(../images/login_payment.jpg) 0px 0px no-repeat;}
.login_payment_qq:hover{ background-position:0px -28px;}
.login_payment_wechat { background:url(../images/login_payment.jpg) -38px 0px no-repeat;}
.login_payment_wechat:hover{ background-position:-38px -28px;}
.login_payment_alipay { background:url(../images/login_payment.jpg) -76px 0px no-repeat;}
.login_payment_alipay:hover{ background-position:-76px -28px;}
.login_payment_wb { background:url(../images/login_payment.jpg) -115px 0px no-repeat;}
.login_payment_wb:hover{ background-position:-115px -28px;}
.loginbox_2{ width:280px; height:225px;text-align:center; position:absolute; top:30px; right:0; display:none}
.loginbox_2 div{ margin-top:20px;}
.loginPhone{width:278px; height:40px;line-height:40px;  border:1px #CCCCCC solid; text-indent:5px;}
.sendsPwd{width:178px; height:40px;float:left;margin-bottom:20px;}
.sendsPwd input{width:178px;height:40px;border:none;line-height:40px; text-indent:5px;  border:1px #CCCCCC solid;}
.sendsmsg{width:88px; height:40px; text-align:center; float:right; font-size:13px;line-height:40px;border-left:none;background:#F0F0F0;border:1px #CCCCCC solid; margin-bottom:20px;}
.sendsmsg button{color:#09F; font-size:12px;line-height:40px; background: none;border: none;}