@charset "utf-8";
/* CSS Document */
/*main*/
#main{ width:1200px;margin:0 auto;margin-top:10px;}
/*left*/
#mian_left{width:870px; float:left;}
#focus{ width:870px; height:400px;border-radius:2px;box-shadow:#999 0px 1px 1px;position:relative; }/*边框阴影，第1个px参数是x轴，第2px参数是y轴，第3px个参数是偏移量*/
#codelist{ width:870px; height:auto;margin-top:17px; margin-bottom:20px;}
.codeItem{ width:830px; height:140px; background:#FFF; margin-top:10px;box-shadow: #CCC 0px 1px 1px; padding:20px;}
.codeItem_pic {width: 223px;height: 140px; float:left;border-radius: 2px; overflow:hidden; position:relative;}
.codeItem_pic span{ display:block; width:60px; height:25px; line-height:25px; background:#000; color:#FFF; font-size:12px; text-align:center; border-radius:3px;filter:alpha(opacity:60); opacity:0.6;  -moz-opacity:0.6;-khtml-opacity: 0.6; position:absolute; top:5px; left:5px; cursor:pointer;}
.codeItem_pic span:hover{ color:#F36;}
.codeItem_pic img {
    width: 100%;
    height: 100%;
	transition:all 0.8s ease-in-out;/*过渡的触发机制，慢动作*/
	-ms-transition:all 0.8s ease-in-out;/*兼容IE9浏览器*/
	-webkit-transition:all 0.8s ease-in-out;/*兼容谷歌浏览器*/
	-o-transition:all 0.8s ease-in-out;/*兼容opera浏览器*/
	-moz-transition:all 0.8s ease-in-out;/*兼容火狐浏览器*/
}
.codeItem_pic:hover img {
   	transform:scale(1.2);/*放大1.2倍*/
	-ms-transform:scale(1.2);/*兼容IE9浏览器*/
	-webkit-transform:scale(1.2);/*兼容谷歌浏览器*/
	-o-transform:scale(1.2);/*兼容opera浏览器*/
	-moz-transform:scale(1.2);/*兼容火狐浏览器*/
 }
.codeItem_content{ width:587px; height:140px; float:left; padding-left:20px; overflow:hidden;}
.codeItem_content h3 a{ color:#000;font-size:18px; font-weight:bold; line-height:30px;}
.codeItem_content p{width:587px;font-size:13px; line-height:25px; color:#5B5B5B;}
.codeItem_content ul{ padding-top:5px;}
.codeItem_content ul li{ float:left; line-height:30px; padding-right:20px; color:#9B9B9B;font-size:14px;}
.codeItem_content ul li a{color:#9B9B9B;}
.portrait a img{
	 width:25px;
	 height:25px;
	 border-radius:50px;
	 position:relative;
	 top:0px;
	 transition:all 0.8s ease-in-out;/*过渡的触发机制，慢动作*/
	-ms-transition:all 0.8s ease-in-out;/*兼容IE9浏览器*/
	-webkit-transition:all 0.8s ease-in-out;/*兼容谷歌浏览器*/
	-o-transition:all 0.8s ease-in-out;/*兼容opera浏览器*/
	-moz-transition:all 0.8s ease-in-out;/*兼容火狐浏览器*/
}
.portrait a img:hover{
	transform:rotate(360deg) scale(1.05);/*2D旋转 deg参数为旋转的角度*/
	-ms-transform:rotate(360deg) scale(1.05);/*兼容IE9浏览器*/
	-webkit-transform:rotate(360deg) scale(1.05);/*兼容谷歌浏览器*/
	-o-transform:rotate(360deg) scale(1.05);/*兼容opera浏览器*/
	-moz-transform:rotate(360deg) scale(1.05);/*兼容火狐浏览器*/
}
.author{ margin-left:-15px; cursor:pointer;}
.browse_icon{ width:17px; height:16px; position:relative; top:0px; margin-right:2px}
.comment_icon{ width:16px; height:18px; position:relative; top:0px; margin-right:5px}
#browse,#comment{padding:0px 3px;}
#codePage{ width:100%; height:35px; line-height:35px;float:right; text-align:center; margin-top:20px;}
/*right*/
#mian_right{width:310px; float:right; padding-left:20px;}
/*登录*/
#login{ width:310px; height:400px;float:left; background:#FFFFFF url(../images/stat_bg.png) bottom center repeat-x; box-shadow:#999 0px 1px 1px; border-radius:2px;}
#login h1{ width:100%; height:64px;line-height: 64px; text-align:center;background:url(../images/loginTitleBg.png) 0 0 no-repeat; font-size:14px; font-weight:normal; color:#4FC277;}
#login ul{ width:280px; margin:0 auto;}
#login ul li{ width:140px; float:left; position:relative; cursor:pointer;}
#login ul li h5{ height:30px; text-align:center;line-height:30px;font-weight:normal;}
/*登录成功*/
#login ul.loggedln{width:280px; height:325px;overflow:hidden; font-size:13px;}
#login ul.loggedln li{ width:100%; float:left; height:28px; line-height:28px;}
#login ul.loggedln li .lnIco{width:18px; height:18px;line-height:18px; margin-right:5px;position:relative;top:3px;display: inline-block;background:url(../images/codeicon.png) -81px 0px no-repeat;}
#login ul.loggedln li .Ico_user{background-position:-81px 0px;}
#login ul.loggedln li .Ico_money{background-position:-100px -40px;}
#login ul.loggedln li .Ico_logDate{background-position:0px 0px;}
#login ul.loggedln li .name_user{ color:#06F; font-weight:bold;}
#login ul.loggedln li .name_money{ color:#F00; font-weight:bold;}
#login ul.loggedln li .name_date{ font-size:12px;}
#login ul.loggedln li .name_ip{ font-size:12px; color:#F60; padding-left:10px;}
#login ul.loggedln li.line{border-bottom:1px #999999 dashed; height:10px; line-height:10px;margin-bottom:10px;}
#login ul.loggedln li.key{ width:100%; height:30px; line-height:30px; text-align:center;}
#login ul.loggedln li.key p{ width:140px; float:left; text-align:center;}
#login ul.loggedln li.key p a{ color:#000;}
#login ul.loggedln li.key p:hover a{ color:#F00; text-decoration:underline;}
#login ul.loggedln li.key .Ico_userInfo{background-position:-81px -20px;}
#login ul.loggedln li.key .Ico_vip{background-position:-61px -20px;}
#login ul.loggedln li.key .Ico_update{background-position:-220px -20px;}
#login ul.loggedln li.key .Ico_recharge{background-position:-44px -20px;}
#login ul.loggedln li.key .Ico_purchase{background-position:-100px -20px;}
#login ul.loggedln li.key .Ico_favorite{background-position:-140px -20px;}
#login ul.loggedln li.key .Ico_record{background-position:-21px -20px;}
#login ul.loggedln li.key .Ico_browser{background-position:0px -20px;}
/*最近更新*/
#newupdate{width:310px; height:500px;float:left; margin-top:15px;box-shadow:#ccc 0px 1px 1px; border-radius:2px;}
#newupdate h4{ width:310px; height:47px; font-size:16px; font-weight:normal; line-height:47px; color:#09F; text-indent:10px;border-bottom:1px #CCCCCC solid; background:url(../images/title_bg_x.png) 0 0 repeat-x;}
#newupdate h4 img{ margin-left:5px;}
#newupdate ul{ width:310px; height:452px; overflow:hidden;}
#newupdate ul li{ width:310px; text-indent:10px; height:40px;border-bottom:1px #ccc dotted; overflow:hidden;}
#newupdate ul li a{ max-width:300px; height:40px; line-height:40px; display:block;font-size:14px; color:#666;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
/*排行榜*/
#ranking{width:310px; height:500px;float:left;  background:#FFF; margin-top:15px; box-shadow:#ccc 0px 1px 1px; border-radius:2px;}
#ranking ul li{ width:155px;float:left; position:relative; cursor:pointer;}
#ranking ul li h6{ height:40px; line-height:40px; font-size:14px; text-align:center;font-weight:normal;}
.rkbox_1{ width:280px; margin:0px 15px; height:450px;text-align:center;  position:absolute; top:40px; left:0; display:none;overflow:hidden; }
.rkbox_2{ width:280px; margin:0px 15px; height:450px;text-align:center; position:absolute; top:40px; right:0; display:none; overflow:hidden;}
.rkbox_1 p,.rkbox_2 p{height:30px; line-height:30px;text-align:left;}
.rkbox_1 p span,.rkbox_2 p span{  display:block; float:left; width: 20px; height: 20px;cursor:pointer;font-size: 10px; line-height: 20px; font-family: "微软雅黑";text-align:center; border-radius: 50%;background: #999; color: #fff; margin-right:10px; margin-top:7px;}
.rkbox_1 p a,.rkbox_2 p a{max-width:250px; color:#666;font-size:14px; float:left;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.rkbox_1 p:hover a{ color:#09F; text-decoration:underline;}
.rkbox_2 p:hover a{ color:#F60; text-decoration:underline;}
.h6_default{ background:#0099FF;color:#FFF;}