@charset "utf-8";
/* CSS Document */
#regflash{ width:46px; z-index:-1; height:73px; margin:0 auto; background:url(../images/reg_flash.gif) 0 0 no-repeat;}
#regStep{ width:780px; height:40px; margin:0 auto; margin-top:30px; position:relative; top:-30px;}
#regStep li{width: 230px;height: 40px;line-height: 40px;float: left; position: relative;font-size: 18px; padding-left: 30px;color: #999;background: #ddd; list-style-type:none;}
#regStep li.active {color: #fff; background: #58a4ed;}
#regStep li em {padding-right: 10px;font-family: tahoma;font-size: 19px;}
#regStep li .icon {z-index: 2;top: 0;right: -12px;width: 22px;height: 40px;display: inline-block;position: absolute;overflow: hidden;background:url(../images/reg_icon.png) 0 0 no-repeat;}
#regbox{ width:780px; height:600px; text-align:center; margin:0 auto;background:#FFFFFF url(../images/regist_tit.jpg) 0 35px no-repeat;}
#regbox h1{width:780px; height:40px; line-height:40px; font-size:20px; color:#CCC; text-align:left; font-weight:normal;} 
.regicon{ display:inline-block; width:20px;height:19px;background:url(../images/reg_icon.png) -29px -11px no-repeat; position:relative; top:2px; margin:0 10px 0 20px;}
.login{ float:right; font-size:14px; color:#666; position:relative; top:5px; right:35px;}
.login a{ color:#FFF; display:inline-block; cursor:pointer; text-align:left; width:100px;height:30px; text-align:center;line-height:30px; background:#09F; border-radius:3px;filter:alpha(opacity:80); opacity:0.8;  -moz-opacity:0.8;-khtml-opacity: 0.8;}
.login a:hover{filter:alpha(opacity:100); opacity:1;  -moz-opacity:1;-khtml-opacity: 1;}
form{width:500px; margin:0 auto;margin-top:50px;}
form dl{height:35px;line-height:35px; margin-top:20px;}
form dl dt{ width:100px; float:left;height:35px;line-height:35px;  text-align:right; color:#999; font-size:14px;}
form dl dd{ width:400px; float:left;height:35px;line-height:35px; vertical-align:middle; text-align:left; font-size:12px;color:#999; position:relative;}
form dl dd p{ display:none; font-size:12px;height:20px;line-height:20px;text-indent:15px;}
form dl dd input{border: 1px #333 solid;}
form dl dd.codedd{border: 1px #333 solid;width:300px;height:33px;line-height:33px;}
form dl dd.codedd input{border:none;width:235px;height:33px;line-height:33px;float: left;}
form dl dd.codedd input img{width:65px;height:33px;float: right;}
.regwrong{ background:url(../images/reg_icon_wrong.png) 0 4px no-repeat; color:#F00;}
.regok{ background:url(../images/reg_icon_ok.png) 0 4px no-repeat; color:#096;}
form dl dd ul{ z-index:99; position:absolute; top:45px; left:0px; background:#FFF;box-shadow:#ccc 0px 1px 1px; }
form dl dd ul.list{
list-style:none;
padding:0px;
margin:0px;
overflow:hidden;
}
form dl dd ul.list li{
border:1px solid #EEE;
width:300px;
height:40px;
line-height:40px;
text-indent:10px;
margin:0px;
text-overflow:ellipsis; /*溢出时变为省略*/
overflow:hidden;
}
form dl dd .lilight{
background-color:#f1ffde;
}
form dl dd input{ width:300px; height:30px; text-indent:10px;line-height:30px; }
form dl dd a{color:#06C;}
.agree{ height:20px; line-height:20px;}
form dl dd a:hover{ text-decoration:underline; color:#F00;}
.agree dd input{ width:16px; height:16px; position:relative; top:5px; margin-right:5px;}
.btn dd input{ background:#25B136; color:#FFF; height:45px; line-height:45px; font-size:18px; font-weight:bold; border:none;filter:alpha(opacity:80); opacity:0.8;  -moz-opacity:0.8;-khtml-opacity: 0.8;}
.btn dd input:hover{filter:alpha(opacity:100); opacity:1;  -moz-opacity:1;-khtml-opacity: 1;}