<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
 <display-name>g3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Admin_Login_Servlet</display-name>
    <servlet-name>Admin_Login_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.Admin_Login_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Login_Servlet</servlet-name>
    <url-pattern>/Admin_Login_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_Login_Setvlet</display-name>
    <servlet-name>User_Login_Setvlet</servlet-name>
    <servlet-class>com.smfy.servlet.User_Login_Setvlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Login_Setvlet</servlet-name>
    <url-pattern>/User_Login_Setvlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VeryfServlet</display-name>
    <servlet-name>VeryfServlet</servlet-name>
    <servlet-class>com.smfy.servlet.VeryfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VeryfServlet</servlet-name>
    <url-pattern>/VeryfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_List_Servlet</display-name>
    <servlet-name>Admin_List_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.Admin_List_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_List_Servlet</servlet-name>
    <url-pattern>/Admin_List_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_Add_servlet</display-name>
    <servlet-name>Admin_Add_servlet</servlet-name>
    <servlet-class>com.smfy.servlet.Admin_Add_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Add_servlet</servlet-name>
    <url-pattern>/Admin_Add_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Role_List_Servlet</display-name>
    <servlet-name>Role_List_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.Role_List_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Role_List_Servlet</servlet-name>
    <url-pattern>/Role_List_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Role_Del_Servlet</display-name>
    <servlet-name>Role_Del_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.Role_Del_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Role_Del_Servlet</servlet-name>
    <url-pattern>/Role_Del_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_Del_Servlet</display-name>
    <servlet-name>Admin_Del_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.Admin_Del_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Del_Servlet</servlet-name>
    <url-pattern>/Admin_Del_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Order_List_Servlet</display-name>
    <servlet-name>Order_List_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.Order_List_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Order_List_Servlet</servlet-name>
    <url-pattern>/Order_List_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Code_PicUpload_Servlet</display-name>
    <servlet-name>Code_PicUpload_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.Code_PicUpload_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Code_PicUpload_Servlet</servlet-name>
    <url-pattern>/Code_PicUpload_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Code_FileUpload_Servlet</display-name>
    <servlet-name>Code_FileUpload_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.Code_FileUpload_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Code_FileUpload_Servlet</servlet-name>
    <url-pattern>/Code_FileUpload_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserGroup_List_Servlet</display-name>
    <servlet-name>UserGroup_List_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.UserGroup_List_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserGroup_List_Servlet</servlet-name>
    <url-pattern>/UserGroup_List_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserGroup_Del_Servlet</display-name>
    <servlet-name>UserGroup_Del_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.UserGroup_Del_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserGroup_Del_Servlet</servlet-name>
    <url-pattern>/UserGroup_Del_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserGroup_Add_Servlet</display-name>
    <servlet-name>UserGroup_Add_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.UserGroup_Add_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserGroup_Add_Servlet</servlet-name>
    <url-pattern>/UserGroup_Add_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_List_Servlet</display-name>
    <servlet-name>User_List_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.User_List_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_List_Servlet</servlet-name>
    <url-pattern>/User_List_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_Del_Servlet</display-name>
    <servlet-name>User_Del_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.User_Del_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Del_Servlet</servlet-name>
    <url-pattern>/User_Del_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserGroup_Update_Servlet</display-name>
    <servlet-name>UserGroup_Update_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.UserGroup_Update_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserGroup_Update_Servlet</servlet-name>
    <url-pattern>/UserGroup_Update_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Code_Add_Servlet</display-name>
    <servlet-name>Code_Add_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.Code_Add_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Code_Add_Servlet</servlet-name>
    <url-pattern>/Code_Add_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Code_List_Servlet</display-name>
    <servlet-name>Code_List_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.Code_List_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Code_List_Servlet</servlet-name>
    <url-pattern>/Code_List_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Order_Del_Servlet</display-name>
    <servlet-name>Order_Del_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.Order_Del_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Order_Del_Servlet</servlet-name>
    <url-pattern>/Order_Del_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_Update_Servlet</display-name>
    <servlet-name>Admin_Update_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.Admin_Update_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Update_Servlet</servlet-name>
    <url-pattern>/Admin_Update_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Code_Find_Servlet</display-name>
    <servlet-name>Code_Find_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.Code_Find_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Code_Find_Servlet</servlet-name>
    <url-pattern>/Code_Find_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CunKuan_List_Servlet</display-name>
    <servlet-name>CunKuan_List_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.CunKuan_List_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CunKuan_List_Servlet</servlet-name>
    <url-pattern>/CunKuan_List_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Code_Status_Servlet</display-name>
    <servlet-name>Code_Status_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.Code_Status_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Code_Status_Servlet</servlet-name>
    <url-pattern>/Code_Status_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Code_Del_Servlet</display-name>
    <servlet-name>Code_Del_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.Code_Del_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Code_Del_Servlet</servlet-name>
    <url-pattern>/Code_Del_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tikuan_List_Servlet</display-name>
    <servlet-name>Tikuan_List_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.Tikuan_List_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tikuan_List_Servlet</servlet-name>
    <url-pattern>/Tikuan_List_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CodeType_List_Servlet</display-name>
    <servlet-name>CodeType_List_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.CodeType_List_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodeType_List_Servlet</servlet-name>
    <url-pattern>/CodeType_List_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CodeType_Del_Servlet</display-name>
    <servlet-name>CodeType_Del_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.CodeType_Del_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodeType_Del_Servlet</servlet-name>
    <url-pattern>/CodeType_Del_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CodeType_Add_Servlet</display-name>
    <servlet-name>CodeType_Add_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.CodeType_Add_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodeType_Add_Servlet</servlet-name>
    <url-pattern>/CodeType_Add_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CodeType_IcoUpload_Servlet</display-name>
    <servlet-name>CodeType_IcoUpload_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.CodeType_IcoUpload_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodeType_IcoUpload_Servlet</servlet-name>
    <url-pattern>/CodeType_IcoUpload_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Huikuan_List_Servlet</display-name>
    <servlet-name>Huikuan_List_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.Huikuan_List_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Huikuan_List_Servlet</servlet-name>
    <url-pattern>/Huikuan_List_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ment_Add_Servlet</display-name>
    <servlet-name>Ment_Add_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.Ment_Add_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ment_Add_Servlet</servlet-name>
    <url-pattern>/Ment_Add_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_Status_Servlet</display-name>
    <servlet-name>User_Status_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.User_Status_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Status_Servlet</servlet-name>
    <url-pattern>/User_Status_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_Add_Servlet</display-name>
    <servlet-name>User_Add_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.User_Add_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Add_Servlet</servlet-name>
    <url-pattern>/User_Add_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SMS_Send_Setvlet</display-name>
    <servlet-name>SMS_Send_Setvlet</servlet-name>
    <servlet-class>com.smfy.servlet.SMS_Send_Setvlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SMS_Send_Setvlet</servlet-name>
    <url-pattern>/SMS_Send_Setvlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_Check_Servlet</display-name>
    <servlet-name>User_Check_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.User_Check_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Check_Servlet</servlet-name>
    <url-pattern>/User_Check_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_Phone_Servlet</display-name>
    <servlet-name>User_Phone_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.User_Phone_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Phone_Servlet</servlet-name>
    <url-pattern>/User_Phone_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_Update_Servlet</display-name>
    <servlet-name>User_Update_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.User_Update_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Update_Servlet</servlet-name>
    <url-pattern>/User_Update_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_Find_Servlet</display-name>
    <servlet-name>User_Find_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.User_Find_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Find_Servlet</servlet-name>
    <url-pattern>/User_Find_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Huikuan_Del_Servlet</display-name>
    <servlet-name>Huikuan_Del_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.Huikuan_Del_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Huikuan_Del_Servlet</servlet-name>
    <url-pattern>/Huikuan_Del_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ment_List_Servlet</display-name>
    <servlet-name>Ment_List_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.Ment_List_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ment_List_Servlet</servlet-name>
    <url-pattern>/Ment_List_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ment_Del_Servlet</display-name>
    <servlet-name>Ment_Del_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.Ment_Del_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ment_Del_Servlet</servlet-name>
    <url-pattern>/Ment_Del_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cunkuan_Del_Servlet</display-name>
    <servlet-name>Cunkuan_Del_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.Cunkuan_Del_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cunkuan_Del_Servlet</servlet-name>
    <url-pattern>/Cunkuan_Del_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tikuan_Del_Servlet</display-name>
    <servlet-name>Tikuan_Del_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.Tikuan_Del_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tikuan_Del_Servlet</servlet-name>
    <url-pattern>/Tikuan_Del_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ment_Update_Servlet</display-name>
    <servlet-name>Ment_Update_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.Ment_Update_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ment_Update_Servlet</servlet-name>
    <url-pattern>/Ment_Update_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_Bank_Servlet</display-name>
    <servlet-name>User_Bank_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.User_Bank_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Bank_Servlet</servlet-name>
    <url-pattern>/User_Bank_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_Password_Servlet</display-name>
    <servlet-name>User_Password_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.User_Password_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Password_Servlet</servlet-name>
    <url-pattern>/User_Password_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_Head_Servlet</display-name>
    <servlet-name>User_Head_Servlet</servlet-name>
    <servlet-class>com.smfy.servlet.User_Head_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Head_Servlet</servlet-name>
    <url-pattern>/User_Head_Servlet</url-pattern>
  </servlet-mapping>
</web-app>